/*====================================-ROOT-STYLE-START-======================================*/
:root {

    --color-global: #5DA387;

    --border-radius: 4px;
    --transition-all: .3s;
}

/*====================================-ROOT-STYLE-END-======================================*/